@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #app {
  height: 100%;
}

body {
  font-family: HelveticaNeue-Regular, AppleSDGothicNeo-Regular, -apple-system, BlinkMacSystemFont, Roboto, Verdana, 맑은 고딕, Malgun Gothic, Meiryo, Segoe UI, Arial, sans-serif;
}

a {
  text-decoration: none !important;
  outline: none;
}

button {
  background: transparent;
  border: 0px solid transparent;
}

.error-container {
  width: 100%;
  height: 100%;
}
.error-container .logo {
  width: 100%;
  height: 64px;
  padding-top: 17px;
}
.error-container .logo .logo-link {
  display: block;
  width: 108px;
  height: 26px;
  margin: 0 auto;
}
.error-container .logo .logo-link img {
  width: 100%;
  height: 100%;
}
.error-container .error-contents-wrap {
  width: 100%;
  text-align: center;
  height: calc(100% - 98px);
}
.error-container .error-contents-wrap .error-header .title {
  padding-top: 14.2%;
  font-size: 26px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.7px;
  text-align: center;
  color: rgba(0, 0, 0, 0.93);
}
.error-container .error-contents-wrap .error-header .subcopy {
  margin-top: 16px;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.7px;
  text-align: center;
  color: rgba(0, 0, 0, 0.45);
}
.error-container .error-contents-wrap .error-header::after {
  margin: 24px 0;
  display: inline-block;
  content: "";
  width: 168px;
  height: 128px;
  background: url("/img/error/img-invalid.png") left top no-repeat;
  background-size: contain;
}
.error-container .error-contents-wrap .error-contents {
  width: 640px;
  margin: 0 auto;
  border: 1px solid rgba(34, 34, 34, 0.08);
  border-left: none;
  border-right: none;
  padding: 17px 0;
}
.error-container .error-contents-wrap .error-contents > * {
  display: inline-block;
}
.error-container .error-contents-wrap .error-contents button, .error-container .error-contents-wrap .error-contents a {
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.7px;
  color: rgba(0, 0, 0, 0.93);
  vertical-align: middle;
  text-decoration: none;
  cursor: pointer;
}
.error-container .error-contents-wrap .error-contents button:hover,
.error-container .error-contents-wrap .error-contents a:hover {
  text-decoration: underline !important;
}
.error-container .error-contents-wrap .error-contents a::before {
  margin: 0 18px;
  display: inline-block;
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 3px;
  background-color: rgba(34, 34, 34, 0.12);
  vertical-align: middle;
}
.error-container footer {
  width: 100%;
  height: 34px;
  text-align: center;
}
.error-container footer p {
  height: 100%;
  font-family: Verdana;
  font-size: 11px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.45);
}

@media screen and (max-width: 959px) {
  .error-container .error-contents-wrap .error-header {
    padding: 0 36px;
  }
  .error-container .error-contents-wrap .error-header .title {
    padding-top: 14.2%;
    font-size: 24px;
    line-height: 1.38;
    letter-spacing: -0.42px;
  }
  .error-container .error-contents-wrap .error-header .subcopy {
    line-height: 1.4;
    letter-spacing: -0.42px;
  }
  .error-container .error-contents-wrap .error-contents {
    width: auto;
    margin: 0 16px;
  }
  .error-container .error-contents-wrap .error-contents button, .error-container .error-contents-wrap .error-contents a {
    letter-spacing: -0.42px;
  }
}
@media screen and (max-width: 320px) {
  .error-container .error-contents-wrap .error-header {
    padding: 0 18px;
  }
  .error-container .error-contents-wrap .error-contents a::before {
    margin: 0 15px;
  }
}