@charset "UTF-8";

.wrap-section-top {
	left: 0;
	position: static;
	width: auto;
	/*max-width: 1260px !important;*/
	padding-top: 18px;
	padding-bottom: 30px;
	background-color: #fff;
}

.wrap-section-searchform {
	position: relative;
	max-width: 760px;
	margin: 0 auto;
}

.section-keyword {
	width: 304px;
	margin: 0 auto;
	padding-top: 12px;
	z-index: 100;
	float: right;
}

.section-keyword label {
	float: left;
	display: inline-block;
	width: 60px;
	margin-top: 2px;
	font-size: 12px;
	color: #888;
}

.section-searchform {
	clear: both;
	position: relative;
}

.section-searchform form {
	border: 1px solid #efefef;
	background-color: #fff;
}

.page-my .ui-slidetab .btns li,
.page-search .ui-slidetab .btns li,
.recommend,
.recommend__item {
	position: relative;
}

.guide__item-list li.title,
.recommend__controller {
	display: none;
}

.guide__tit,
.recommend {
	max-width: 1260px;
	margin-left: 18px;
	margin-right: 18px;
}

.recommend__tit,
.section-wiki .list table caption,
.wiki__search .list table caption {
	position: fixed;
	width: 1px;
	height: 1px;
	text-indent: 100px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
}

.recommend__list {
	margin: 0;
	padding-top: 8px;
	padding-bottom: 68px;
}

.recommend__bundle-tit {
	margin: 0;
	padding: 0;
	font-size: 18px;
	color: #1f1f1f;
	font-weight: 400;
	text-align: center;
}

.recommend__bundle-list {
	list-style: none;
	margin: 20px 0 0;
	padding: 0;
}

.recommend__bundle-list::after {
	content: '';
	clear: both;
	display: block;
}

.recommend__item:nth-child(1) {
	margin-bottom: 2px;
}

.recommend__item:nth-child(2) {
	float: left;
	width: 50%;
	padding-right: 1px;
}

.recommend__item:nth-child(3) {
	float: left;
	width: 50%;
	padding-left: 1px;
}

.recommend__item a {
	outline: 0;
	color: #fff;
	display: block;
	height: 100%;
}

.pic-box {
	position: relative;
	font-size: 0;
	overflow: hidden;
}

.pic-box_theme_full::before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(19, 19, 19, .5);
}

.pic-box__text {
	font-size: 15px;
	letter-spacing: -1px;
}

.recommend__item .pic-box__text {
	padding: 0 18px;
}

.pic-box_theme_full .pic-box__text {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 100%;
	text-align: center;
}

.pic-box_theme_full .pic-box__img,
.ui-slidetab.percentage .btns,
.ui-slidetab.percentage .handle {
	width: 100%;
}

.recommend__item-desc {
	display: none;
	color: #494949;
	font-size: 13px;
	margin-top: 11px;
	line-height: 1.5;
	text-align: center;
	letter-spacing: -1px;
	padding: 0 10px;
}

.recommend__controller button {
	position: absolute;
	top: 50%;
	width: 72px;
	height: 72px;
	border-radius: 50%;
	overflow: hidden;
	text-indent: -999px;
	z-index: 999999;
	border: 0;
	background-color: rgba(19, 19, 19, .5);
}

.recommend__controller-prev {
	left: 10px;
}

.recommend__controller-next {
	right: 10px;
}

.recommend__controller-prev::after {
	left: 30px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.recommend__controller-next::after {
	right: 30px;
	-webkit-transform: rotate(225deg);
	-ms-transform: rotate(225deg);
	transform: rotate(225deg);
}

.recommend__controller button::after {
	position: absolute;
	content: '';
	display: inline-block;
	top: 24px;
	width: 20px;
	height: 20px;
	border: solid #c7c7cc;
	border-width: 0 0 1px 1px;
}

.guide {
	width: 100%;
	margin-bottom: -90px;
	padding: 35px 0 65px;
	background: #f4f5f7;
}

.guide__tit {
	font-size: 16px;
	font-weight: 400;
	color: #1f1f1f;
}

.guide__list {
	overflow: hidden;
	max-width: 1260px;
	margin: 15px 0 0;
	line-height: 1.25;
}

.guide::after {
	content: '';
	display: block;
	clear: both;
}

.guide__item {
	outline: 0;
	height: 335px;
	overflow: hidden;
	font-size: 14px;
	position: relative;
}

.guide__item-tit {
	height: 43px;
	overflow: hidden;
	margin: 0 5px 0 0;
	font-size: 15px;
	font-weight: 400;
	background: #fff;
	padding: 15px 18px 8px;
	color: #c69c7c;
}

.guide__item-tit a {
	color: #c69c7c;
	cursor: default;
}

.guide a:link,
.section-search .pagination-container .page.selected:hover {
	text-decoration: none;
}

.pc .guide .guide__item-tit .icon,
.wiki__search .search-article.search-article--qna .search-article__info,
.wiki__search .search-article.search-article--qna .search-article__thumb {
	display: none;
}

.guide__item-list {
	list-style: none;
	margin: 0 5px 0 0;
	background: #fff;
	padding: 12px 8px 20px 18px;
	position: absolute;
	top: 42px;
	bottom: 0;
	left: 0;
	right: 0;
}

.guide__item-list::before {
	position: absolute;
	top: 0;
	left: 18px;
	right: 18px;
	content: '';
	display: block;
	border-top: 1px solid #eeeff4;
}

.guide__item-list li {
	margin-top: 5px;
}

.guide__item-list li:first-child {
	margin-top: 0;
}

.guide__item-list li a {
	display: inline-block;
	width: 100%;
	color: #474747;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.guide__item-list li a .icon-new {
	display: inline-block;
}

.guide__item-list li a .icon-new::before {
	content: 'new';
	font-size: 12px;
	font-style: normal;
	vertical-align: top;
	color: #ff5f3c;
}

.page-powerbook .search-title,
.search-article .search-article__info .search-article__writer:empty {
	display: none;
}

.search-article,
.search-more,
.search-title,
.search-util,
.section-wiki,
.wiki__search,
.wrap-section-top {
	max-width: 1260px;
	padding-left: 18px;
	padding-right: 18px;
	margin: 0 auto;
}

.section-wiki {
	overflow: hidden;
}

.search-title {
	padding-top: 40px;
	padding-bottom: 20px;
}

.search-title h2 {
	font-size: 16px;
	font-weight: 700;
	color: #000;
}

.page-powerbook .search-article.search-article--powerbook {
	padding-top: 40px;
}

.powerbookBtn_area {
	max-width: 1260px;
	margin: auto;
}

.powerbookBtn_area .powerbookBtn {
	float: right;
	background: #c38b61;
	padding: 12px;
	border-radius: 30px;
	color: #fff;
	margin-right: 5px;
	text-decoration: none;
	font-size: 12px;
}

.powerbookBtn_area .powerbookBtn:hover {
	background: #886144;
}

.guide__list .slick-list.draggable {
	padding: 0px 18px;
}

@media (min-width: 640px) {

	.guide__tit,
	.recommend {
		margin-left: 40px;
		margin-right: 40px;
	}

	.recommend__list {
		padding-top: 18px;
		padding-bottom: 68px;
	}

	.recommend__item {
		float: left;
		width: calc(100% * .33333 - 15px * (1 - .33333)) !important;
		margin-left: 15px;
		margin-bottom: 0;
	}

	.recommend__item:first-child {
		margin-left: 0;
	}

	.guide__list {
		margin: 15px 40px 0;
	}

	.guide__item {
		display: block;
		float: left;
		width: calc(100% * .25 - 14px * (1 - .25));
		margin-left: 14px;
		margin-bottom: 25px;
	}

	.guide__item:first-child,
	.guide__item:nth-child(4n+1) {
		margin-left: 0;
	}

	.guide__item-list,
	.guide__item-tit {
		margin-right: 0;
	}

	.search-article,
	.search-more,
	.search-title,
	.search-util,
	.section-wiki,
	.wiki__search,
	.wrap-section-top {
		padding-left: 40px;
		padding-right: 40px;
	}

	.powerbookBtn_area .powerbookBtn {
		margin-right: 40px;
	}
}

@media (min-width: 960px) {
	.wrap-section-top {
		max-width: 100%;
		/*padding-top: 0;
		padding-bottom: 25px;
		background: #f4f5f7;*/

		margin: -55px 0 0;
		background: #f4f5f7;
		padding: 25px 0;		
	}

	.section-searchform #suggestInput {
		height: 40px;
		line-height: 40px;
	}

	.recommend__list {
		padding-top: 50px;
		padding-bottom: 80px;
	}

	.recommend__controller {
		display: block;
		position: absolute;
		width: 100%;
		top: 50%;
		margin-top: -46px;
	}

	.recommend__bundle-tit {
		height: 20px;
		line-height: 1;
	}

	.recommend__item {
		width: calc(100% * .33333 - 21px * (1 - .33333)) !important;
		margin-left: 21px;
	}

	.recommend__item-desc {
		display: block;
	}

	.guide__item {
		width: calc(100% * .25 - 17px * (1 - .25));
		margin-left: 17px;
	}

	.guide__item-tit,
	.pic-box__text {
		font-size: 16px;
	}

	.wrap-section-top.wrap-section-wiki {
		height: 65px;
		background: #fff;
		border-bottom: 1px solid #efefef;
	}

	.wrap-section-top.wrap-section-wiki .wrap-section-searchform {
		float: right;
		width: 284px;
		max-width: 284px;
	}

	.wrap-section-top.wrap-section-wiki .section-searchform form {
		border-color: #efefef;
	}

	.search-title {
		margin: 0;
	}

	.search-article.search-article--powerbook {
		margin-bottom: -30px;
		overflow: hidden;
	}

	.powerbookBtn_area .powerbookBtn {
		margin-right: 0px;
	}
}

@media (min-width: 1340px) {

	.guide__tit,
	.recommend,
	.ui-slidetab {
		margin-left: auto;
		margin-right: auto;
	}

	.recommend__controller-prev {
		left: 20px;
	}

	.recommend__controller-next {
		right: 20px;
	}

	.guide__list {
		margin-left: auto;
		margin-right: auto;
	}

	#ncCommunityComment,
	#ncCommunityList,
	#ncCommunityView,
	#ncCommunityWrite,
	.search-article,
	.search-more,
	.search-title,
	.search-util,
	.section-wiki,
	.wiki__search,
	.wrap-section-top,
	.wrap-section-top.wrap-section-wiki {
		padding-left: 0;
		padding-right: 0;
	}

}