@charset "UTF-8";

.search-article__nodata .nodata a, .section-wiki a, .wiki__search a {text-decoration: none; color: #aa8060;}
.section-wiki *, .wiki__search *, body, html, section dd, section dl, section dt, section figure, section p {margin: 0; padding: 0;}
.custom-table::after, .images.dimg::after, .images.dimg_center::after, .object-recipe::after, .search-article::after, .ui-slidetab .btns::after, .wiki__body::after, .wiki__reference::after, .wiki__search::after {content: ''; display: table; clear: both;}
.section-wiki .list__header-label, .section-wiki .list__level, .section-wiki .list__level-label, .section-wiki .list__location, .section-wiki .list__location-label, .section-wiki .list__option-label, .wiki__search .list__header-label, .wiki__search .list__level, .wiki__search .list__level-label, .wiki__search .list__location, .wiki__search .list__location-label, .wiki__search .list__option-label {display: table-cell!important;}
.section-wiki .list table td, .section-wiki .list table th, .wiki__search .list table td, .wiki__search .list table th {display: none; text-align: center; border-top: 1px solid #efefef; padding: 9px 14px 10px; color: #474747;}
.object__attribute table tr td:first-child, .section-wiki .list table tr td:first-child, .section-wiki .list table tr th:first-child, .wiki__search .list table tr td:first-child, .wiki__search .list table tr th:first-child {border-left: 0;}
.section-wiki .list__name, .wiki__search .list__name {clear: both; display: block; text-align: center; margin-top: 9px;}

.wiki__h1 {clear: both; margin-bottom: 30px;}
.wiki__h2 {clear: both; padding-bottom: 13px; margin-bottom: 40px; border-bottom: 1px solid #c7c7cc;}
.wiki__h1 h1 {font-size: 21px; font-weight: 300; line-height: 1.25; color: #1f1f1f;}
.wiki__h2 h2 {font-size: 18px; font-weight: 300; line-height: 1.25; color: #1f1f1f;}
.wiki__h1 .inform_area {padding: 25px 25px 25px 47px; border: 1px solid #e5d9d0; background-color: #fefbf5; text-indent: -28px; color: #494949; font-size: 13px; margin-top: 10px; line-height: 1.69; letter-spacing: -.5px;}
.wiki__h1 .inform_area::before {background-image: url(/img/icon-warning.png); background-size: 21px 21px; background-position: center center; background-repeat: no-repeat; display: inline-block; width: 21px; height: 21px; margin-right: 8px; vertical-align: middle; content: '';}
.wiki__h1 .inform_area em {font-style: normal; color: #c69c7c;}
.wiki__group {padding-top: 120px;}
.wiki__h1+.wiki__group {padding-top: 0;}
.wiki__body {padding: 0; font-size: 14px; line-height: 1.5; color: #494949;}
.wiki__body table {width:100% !important;}

.object, .section-wiki .list, .wiki__search .list {margin-bottom: 30px;}
.object-item, .object-monster {border: 1px solid #e5d9d0;}
.object__header {position: relative; width: 100%; height: 80px; text-align: left; vertical-align: middle; padding: 18px 14px; word-break: keep-all; border-bottom: 1px solid #e5d9d0; background-color: #fefbf5;}
.object-monster .object__header {min-height: 160px;}
.object__header::after {clear: both; content: ''; display: inline-block; height: 40px; vertical-align: middle;}
.object__icon {position: absolute; width: 40px; height: 40px; display: inline-block; vertical-align: middle; border: 1px solid #6d6d6d; background-color: #181411;}
.object-monster .object__icon {width: 82px; height: 123px;}
.object__name {display: inline-block; padding-left: 50px; font-size: 16px; vertical-align: middle; line-height: 1.3;}
.object-monster .object__name {padding-left: 92px;}
.object__name a {color: #aa8060;}
.object table {width: 100%; border-collapse: collapse;}
.object__attribute table td, .object__attribute table th {vertical-align: top; border-top: 1px solid #efefef; text-align: left; padding: 10px 14px;}
.object__attribute table th {width: 92px; border-right: 1px solid #efefef; padding: 10px 14px; font-size: 13px; color: #474747; word-break: keep-all; font-weight: 400; background: #fcfcfc;}
.object__attribute table tr:first-child td, .object__attribute table tr:first-child th {border-top: 0;}
.object__attribute table td {font-size: 14px; color: #494949; word-break: keep-all; text-align: left;}

.section-wiki .list table, .wiki__search .list table {width: 100%; border-collapse: collapse; border: 1px solid #efefef; border-top: 0;}
.section-wiki .list table th, .wiki__search .list table th {border-left: 1px solid #efefef; text-align: center; font-size: 13px; color: #474747; font-weight: 400; white-space: nowrap; background: #f4f5f7;}
.section-wiki .list__header, .wiki__search .list__header {display: table-cell!important; background: #fcfcfc; width: 92px;}
.section-wiki .list table td, .wiki__search .list table td {border-left: 1px solid #efefef; font-size: 14px; word-break: keep-all; color: #494949;}
.section-drop-item {position: relative;display: none;}
.drop-item__handler {color: #575757!important;}
.search-article__nodata .nodata a, .section-wiki a, .wiki__search a {text-decoration: none;color: #aa8060;}

footer.sub_info p {font-size: 12px;color: #888;}

.object__price{float: right; font-size: 13px; color: #575757!important;}
.object__price::after {content: '>'; display: inline-block;}

@media (min-width: 640px){
	.object__attribute table th, .section-wiki .list__header, .wiki__search .list__header {width: 220px;}
}

@media (min-width: 960px){
	.wiki__h1 {margin: 40px 0 30px;}
	.wiki__h1 h1 {font-size: 32px;letter-spacing: -1px;}
	.wiki__group {padding-top: 60px;}
	.section-wiki .list table td, .section-wiki .list table th, .wiki__search .list table td, .wiki__search .list table th {display: table-cell;}
	.section-drop-item {display: block;}
}